ul{
  list-style-type: none;
  text-align: center;
}
li{
  text-decoration:none;
  width:80%;
  height: auto;
  margin-top:10px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 9%;
  border-radius: 45px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
h1{
  height:auto;
  font-size: 30px;
  margin-left: 2%;
  margin-right:2%;
}
h2{
  margin-left: 2%;
  margin-right:2%;
}
h3{
  margin-left: 2%;
  margin-right:2%;
}
h4{
  margin-left: 2%;
  margin-right:2%;
}
h5{
  margin-left: 2%;
  margin-right:2%;
}
