ul{
  list-style-type: none;
  text-align: center;
  padding-top: 40px;
}
li{
  text-decoration:none;
  width:80%;
  height: auto;
  margin-top:10px;
  padding-top: 1px;
  padding-bottom: 10px;
  margin-left: 9%;
  border-radius: 45px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
h1{
  height:auto;
  font-size: 30px;
  margin-left: 2%;
  margin-right:2%;
}
h2{
  margin-left: 2%;
  margin-right:2%;
}
h3{
  margin-left: 2%;
  margin-right:2%;
}
h4{
  margin-left: 2%;
  margin-right:2%;
}
h5{
  margin-left: 2%;
  margin-right:2%;
}
:focus {outline:0 !important;}
input{
  position: fixed;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border-color: rgb(242, 55, 74);
}
#search2{
  position: fixed;
  font-size: 20px;
  border-radius: 6px;
  border-color: inherit;
  margin-left: 155;
  width: 100px;
  height: 30px;
}
#back{
  position: fixed;
  margin-left: 260;
  font-size: 20px;
  border-radius: 6px;
  border-color: inherit;
  width: 100px;
  height: 30px;
}
