*{
  margin: 0; padding: 0;
}
body {
  background:url("science.png") repeat 0 0;
  animation: slide 20s linear infinite;
}


@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -800px -600px; }
}
:focus {outline:0 !important;}
