*{
  margin:0px;
  padding:0px;
}
body{
  overflow: visible;
  position:relative;
}
a{
  text-decoration: none;
  color: inherit;
}
.three_options .button{
  border-width: 8px;
  width:325px;
  height:250px;
  background-color: rgb(223, 154, 154);
  padding:1em;
  border-style: solid;
  color:rgb(186, 39, 39);
  border-color: rgb(212, 87, 87);
  border-radius: 45px;
}
.first_option{
  left: calc(100% /5.5);
  top: calc(100% /6);
  position:absolute;
}
.first_option:hover{
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
}
.first_option span{
  font-family: "Times",sans-serif;
  margin-left:5px;
  letter-spacing: 12px;
  height:auto;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.second_option{
  margin-left: 60%;
  top: calc(100% /6);
  position:absolute;
}
.second_option:hover{
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
}
.second_option span{
  margin-left:0px;
  letter-spacing: 3px;
  height:auto;
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.third_option{
  width:300px;
  border-radius: 12px;
  background-color: inherit +10;
  border-width: 0px;
  position: absolute;
  bottom: 1%;
  margin-left:1%;
  opacity: .4;
  transition: 0.3s;
}
.third_option span{
  margin-left:0px;
  letter-spacing: 3px;
  height:auto;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.third_option:hover{
  background-color: rgb(238, 145, 145);
  transition: 0.3s;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
}
:focus {outline:0 !important;}
.fourth_option{
  width:300px;
  border-radius: 12px;
  background-color: inherit +10;
  border-width: 0px;
  position: absolute;
  bottom: 1%;
  margin-left:calc(100% - 310px);
  opacity: .4;
  /* transition: 0.3s; */
}
.fourth_option span{
  margin-left:0px;
  letter-spacing: 3px;
  height:auto;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.fourth_option:hover{
  background-color: rgb(238, 145, 145);
  transition: 0.3s;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
}
